* {
  box-sizing: border-box;
  font-size: 40px;
  font-family: sans-serif;
}

center {
  font-family: monospace;
}

canvas {
  margin: auto;
  display: block;
  width: 400px;
  height: 400px;
}

.circle {
  margin: auto;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 400px) {
  #colorOutput {
    width: 300px;
    height: 300px;
  }
}
